VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_OPENWEATHERMAP_API_KEY=
VITE_GROQ_API_KEY=
VITE_ROBOROCK_API_URL=
VITE_ROBOROCK_API_KEY=
VITE_FALLBACK_LAT=40.4168
VITE_FALLBACK_LON=-3.7038
VITE_FALLBACK_CITY=Madrid
